.container {
    max-width: 1080px;
    margin: auto;
    padding: 50px;
    background: darkcyan;
    border-radius: 20px;
    border: 5px solid #013b3b;
}

h1 {
    color: antiquewhite;
}

p {
    color: antiquewhite;
}
